<FORM ACTION="http://Dreetnpi/cgi-bin/opdracht_2/test/e_o_2/Build/cgi_demo"
 METHOD="POST">
    <p>Locatie:</p>
<INPUT NAME="locatie" SIZE="60" MAXLENGTH="80"><BR>
    <p>maart_2010:</p>
<INPUT NAME="maart_2010" SIZE="60" MAXLENGTH="80"><BR>
    <p>juni_2010:</p>
<INPUT NAME="juni_2010" SIZE="60" MAXLENGTH="80"><BR>
    <p>september_2010:</p>
<INPUT NAME="september_2010" SIZE="60" MAXLENGTH="80"><BR>
    <p>December_2010:</p>
<INPUT NAME="december_10" SIZE="60" MAXLENGTH="80"><BR>
 <INPUT TYPE="SUBMIT" VALUE="Send"></DIV>
</FORM


